body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#tile-grid, #grid {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(4, 70px);
    gap: 5px;
    margin: 20px auto;
    justify-content: center;
}

.tile, .drop-zone {
    width: 70px;
    height: 70px;
    border: 1px solid grey;
    background-image: url('https://i.postimg.cc/bvhnVRfP/S74-lunch-box.png');
    background-size: 280px 280px;
}

.tile {
    cursor: grab;
}

.dragging {
    opacity: 0.7;
}

#winner {
    display: none;
    font-size: 24px;
    font-weight: bold;
    color: green;
}

#warning {
    color: red;
    font-weight: bold;
    display: none;
}
